/*------------------------------------
  mixins
--------------------------------------*/
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, ol, ul, li, form, legend, label, table, header,
footer, nav, section, figure {
  margin: 0;
  padding: 0;
}

a, strong, em, ol, ul {
  text-decoration: none;
}

/*------------------------------------
  reset
--------------------------------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header, footer, nav, section, article, hgroup, figure {
  display: block;
}

/*------------------------------------
  global-classes
--------------------------------------*/
html {
  font-size: 18px;
}

body {
  background: #fff;
  background-color: #ededed;
  color: #000;
  font: 1rem "PT Serif", serif;
  line-height: 1.25rem;
  position: relative;
}

hr {}

p {
  margin-bottom: 1.25rem;
  padding: 0 1em;
}

.skip-link {
  background-color: #ac0000;
  color: #ffffff;
  left: 0;
  opacity: 0;
  padding: .5em;
  position: absolute;
  text-decoration: none;
  top: -40px;
  z-index: 100;
}

.skip-link:focus {
  color: #ffffff;
  top: 0px;
}

.is-hidden {
  display: none !important;
  visibility: hidden !important;
}

.is-vishidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.right {
  float: right;
  padding: 0 0 1.25rem 1.25rem;
}

.right-search {
  float: right;
  padding: 0 0 1.25rem 0;
}

.left {
  float: left;
  padding: 0 1.25rem 1.25rem 0;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.valid {
  color: #089e00;
}

.error {
  color: #f00;
}

.warning {
  color: #fff664;
}

.information {
  color: #000db5;
}

.font-secondary {
  font-family: "PT Serif", serif;
}

.req:after {
  content: " *";
  color: #ac0000;
}

/*------------------------------------
  anchor
--------------------------------------*/
a {
  color: #006868;
  text-decoration: none;
  outline: 0;
}
a:hover {
  color: #ac0000;
}

a:focus {
  outline: 3px solid #ac0000;
}

/*------------------------------------
  headings
--------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
}

h1 {
  font-size: 2.441rem;
  line-height: 3.052rem;
}

h2 {
  font-size: 1.953rem;
  line-height: 2.441rem;
}

h3 {
  font-size: 1.563rem;
  line-height: 1.953rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.563rem;
}

h5 {
  font-size: 1rem;
  line-height: 1.25rem;
}

h6 {
  font-size: 0.8rem;
  line-height: 1rem;
}

/* Subheadings */
.subheading {
  font-family: "PT Serif", serif;
  font-weight: normal;
}

/*------------------------------------
  inline-elements
--------------------------------------*/
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

/*------------------------------------
  ordered, unordered
--------------------------------------*/
.unordered__item {
  list-style: none;
}

/*------------------------------------
  Images
--------------------------------------*/
img {
  max-width: 100%;
  height: auto;
}

/*------------------------------------
  Start
--------------------------------------*/
article {
  margin: 0 auto 3em;
  padding: 2em calc((100% - 40em) / 2);
}

article:nth-child(2n) {
  background-color: rgba(0, 0, 0, .1);
  box-shadow: -9px -9px 9px rgba(255,255,255,.5), 9px 9px 9px rgba(0,0,0,.2);
  border-radius: 1em;
  width: 98%;
}

.header__title {
  font-size: 2.441rem;
  margin: 0 1em;
  padding: .25em 0;
  animation: font-size 1000 ease-in-out;
}

.header__link {
  padding-left: 0em;
  transition: all .1s ease-in-out;
}

.header__link:hover {
  color: #006868;
  padding-left: .25em;
}

.section-title-wrapper {
  box-shadow: -9px -9px 9px rgba(255, 255, 255, .5), 9px 9px 9px rgba(0, 0, 0, .2);
  border-radius: 1em;
  margin: .75em;
}

.section-title-wrapper--dark {
  box-shadow: -9px -9px 9px rgba(255, 255, 255, .1), 9px 9px 9px rgba(0, 0, 0, .2);
}

.section-title {
  margin: 0 1em 1em;
  padding: .25em;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, .9), -2px -2px 3px rgba(0,0,0,.3);
  letter-spacing: .25em;
  /*border-bottom: 1px solid #000;
  border-top: 1px solid #000;*/
}

.section-title--dark {
  text-shadow: 2px 2px 1px rgba(255, 255, 255, .3), -2px -2px 1px rgba(0, 0, 0, .75);
}

.about-image-container {
  margin: 1em auto;
  width: 10em;
  border-radius: 50%;
  overflow: hidden;
}

/*------------------------------------
  about me
--------------------------------------*/
.about-body {
  padding: 0 1em;
}

@media screen and (min-width: 768px) {
  .about-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0em 2em;
  }
}

/*------------------------------------
  myCards
--------------------------------------*/
.mycard-container {
  margin-bottom: 3em;
}

.mycard-left {
  padding: .75em;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, .2), -4px -4px 4px rgba(255, 255, 255, .5);
  border-radius: 1em;
  margin: 1em;
}

.mycard-left--down {
  box-shadow: -4px -4px 4px rgba(0, 0, 0, .2), 4px 4px 4px rgba(255, 255, 255, .5);
}

.mycard-name,
.mycard-date,
.mycard-title,
.mycard-url,
.mycard-email {
  font-weight: bold;
  margin-bottom: .25em;
  text-align: center;
}

.mycard-name {
  font-size: 1.15em;
}

.mycard-date {
  font-size: .8em;
  font-style: italic;
}

.mycard-body {
  padding: .5em 0;
}

.mycard-footer,
.mycard-title {
  border-top: 1px solid rgba(0, 0, 0, .55);
  border-bottom: 1px solid rgba(0, 0, 0, .55);
  padding: .25em 0;
  position: relative;
  overflow: hidden;
}

.mycard-footer::after {
  content: '';
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 1%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 1%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.04) 1%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: rotateZ(60deg) translate(0%, 150%);
  width: 100%;
  height: 400%;
  opacity: .55;
}

.mycard-footer:hover::after {
  animation: roll 1s forwards;
}

@keyframes roll {
  100% {
    transform: rotateZ(60deg) translate(0%, -200%);
  }
}

@media screen and (min-width: 768px) {
  .mycard-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    margin-bottom: 2em;
  }

  .mycard-left {
    margin: 0 1em 0 0;
  }

  .mycard-footer,
  .experience-row {
    display: flex;
    justify-content: space-between;
  }

  .mycard-name,
  .mycard-date,
  .mycard-title,
  .mycard-url,
  .mycard-email {
    text-align: initial;
  }
}

/*------------------------------------
  Experience
--------------------------------------*/
.experience-row {
  height: 2.5em;
  list-style: none;
  padding: .5em 1em;
}

.experience-title {
  padding-left: 0em;
  transition: all ease-in-out .3s;
}

.experience-row:hover .experience-title {
  color: #006868;
  font-size: 1.2em;
  padding-left: .5em;
}

.experience-row:nth-child(2n) {
  background-color: rgba(0,0,0,.15);
}

.experience-radio {
  width: 1.5em;
  transition: width ease-in-out .3s;
}

.experience-row:hover .experience-radio {
  width: 1.75em;
}

/*------------------------------------
  Work Examples
--------------------------------------*/
.example {
  border-radius: 3px;
  margin-bottom: 2em;
  overflow: hidden;
}

.examples-body {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.example-caption {
  font-size: .65em;
  background-color: rgba(0, 0, 0, .8);
  border: 1px solid rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, .9);
  padding: .5em 0;
  text-align: center;
}

.example-link:hover {
  color: rgba(0, 0, 0, .8);
  text-decoration: none;
  font-weight: bold;
}

.example-link:hover .example-caption {
  background-color: #fff;
  color: rgba(0, 0, 0, .8);
  border: 1px solid rgba(0, 0, 0, .8);
  border-radius: 0 0 4px 4px;
}

@media screen and (min-width: 768px) {
  .examples-body {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*------------------------------------
  Contact
--------------------------------------*/
.contact {
  background-color: #2e2e2e;
  padding-top: 2em;
}
.contact-title {
  color: #fff;
  border-color: #fff;
}

.contact-body {
  text-align: center;
}

.contact__link {
  color: #006868;
}

.contact__link:hover {
  color: #00b5b5;
}

.footer {
  display: grid;
  min-height: 10em;
}

/*------------------------------------
  Main Nav
--------------------------------------*/
.navbar-nav .nav-link {
  text-align: center;
  font-size: .8rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, .9);
  margin: .25em 0;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #00b5b5;
  /*background: rgba(255, 255, 255, .9);
  border-radius: 3px;*/
}

.navbar-dark .navbar-nav .nav-link:active {
  margin-left: -8px;
}

.nav-item {
  background-color: rgba(0, 0, 0, .0);
  box-shadow: -4px -4px 4px rgba(255, 255, 255, .1), 4px 4px 4px rgba(0, 0, 0, .2);
  border-radius: 1em;
  margin: .75em;
  transition: background-color ease-out .2s;
}

.nav-item:hover {
  background-color: rgba(0,0,0,.2);
}

@media screen and (min-width: 768px) {
  .navbar-dark .navbar-nav .nav-link {
    margin: 0 .25em;
  }

  .navbar-dark .navbar-nav .nav-link:active {
    margin-left: -2px;
    margin-right: 11px;
  }
}

/*------------------------------------
  Gallery
--------------------------------------*/
.gallery__wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.gallery {
  border: 1px solid #ccc;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
  padding: .5em;
  width: 220px;
}

.gallery:hover {
  border: 1px solid #777;
  background-color: #2e2e2e;
  color: #fff;
}

.gallery__link {
  border: 1px solid #ccc;
  border-radius: .25em;
  display: inline-block;
  height: 100px;
  overflow: hidden;
  width: calc(217px - 1em);
}

.gallery__image {
  width: 100%;
  height: auto;
}

.gallery__description {
  font-size: .9em;
  padding: .25;
  text-align: center;
}

.modal-footer {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: end;
  justify-content: center;
}

.modal-footer__text {
  font-size: 1.5rem;
}

.close {
  margin-top: -.25em;
  margin-right: -.25em;
}

/*------------------------------------
  Gallery
--------------------------------------*/
.presentation__video {
  width: 100%;
}
